<?xml version="1.0"?>
<configuration debug="false">
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/> -->
	<property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}" />
	<!-- ch.qos.logback.core.ConsoleAppender 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5level] [%thread] %X{client} %X{trace_id} %d{HH:mm:ss} %logger => %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 系统日志文件输出 -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/meipro-system.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_PATH}/meipro.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] [%thread] %X{client} %X{trace_id} %d{HH:mm:ss} %logger{36} => %msg%n</pattern>
		</layout>
	</appender>
	
	<appender name="file-msg" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_PATH}/meipro-msg.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/meipro-msg.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" level="info"/>
	<logger name="org.springframework.beans" level="info"/>
	<logger name="org.springframework.context" level="info"/>
	<logger name="org.springframework.web.servlet.view" level="trace"/>
	<logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>
	<logger name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor" level="DEBUG"/>
	<logger name="org.springframework.boot" level="info" />
	<logger name="org.springframework.aop" level="info" />
	<logger name="org.springframework.jmx" level="info" />
	<logger name="org.springframework.jdbc" level="info" />
	<logger name="org.springframework.transaction" level="info" />
	<logger name="ch.qos.logback" level="ERROR" />
	<logger name="org.activiti" level="info" />
	<logger name="org.hibernate.validator" level="info" />
	<logger name="org.apache.shiro" level="trace"/>
	<logger name="org.apache.ibatis" level="info"/>
	<logger name="org.mybatis" level="info"/>
	<logger name="org.apache.catalina" level="info"/>
	
	 
	<!-- 日志级别 -->
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
	<!-- 
	<springProfile name="dev">
		<logger name="com.gomeplus.meipro.uc.service.impl.StaffInviteService" additivity="false" level="info">
	        <appender-ref ref="file-msg" />
	    </logger>
	    <logger name="com.gomeplus.meipro.uc.service.impl.UserService" additivity="false" level="info">
	        <appender-ref ref="file-msg" />
	        <appender-ref ref="console" />
	    </logger>
	</springProfile> 
	<springProfile name="pre-product">
		<logger name="com.gomeplus.meipro.uc.service.impl.StaffInviteService" additivity="false" level="info">
	        <appender-ref ref="file-msg" />
	    </logger>
	    <logger name="com.gomeplus.meipro.uc.service.impl.UserService" additivity="false" level="info">
	        <appender-ref ref="file-msg" />
	    </logger>
	</springProfile> -->
</configuration>